<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="tb_knowledge">
	<typeAlias alias="knowledge" type="com.ginkgocap.ywxt.knowledge.model.Knowledge"/>
  <resultMap  class="com.ginkgocap.ywxt.knowledge.model.Knowledge" id="knowledgeMap">
 		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="knowledgeid" property="knowledgeid" jdbcType="BIGINT"/>
		<result column="user_id" property="userId" jdbcType="BIGINT"/>
		<result column="knowledgeType" property="knowledgetype" jdbcType="INT"/>
		<result column="knowledgeAuthor" property="knowledgeauthor" jdbcType="VARCHAR"/>
		<result column="knowledgeSource" property="knowledgesource" jdbcType="VARCHAR"/>
		<result column="knowledgeDesc" property="knowledgedesc" jdbcType="VARCHAR"/>
		<result column="knowledgeTitle" property="knowledgetitle" jdbcType="VARCHAR"/>
		<result column="tag" property="tag" jdbcType="VARCHAR"/>
		<result column="columnid" property="columnid" jdbcType="BIGINT"/>
		<result column="categoryid" property="categoryid" jdbcType="BIGINT"/>
		<result column="essence" property="essence" jdbcType="VARCHAR"/>
		<result column="picture_task_id" property="pictureTaskId" jdbcType="VARCHAR"/>
		<result column="visible" property="visible" jdbcType="VARCHAR"/>
		<result column="sortId" property="sortid" jdbcType="VARCHAR"/>
		<result column="pubdate" property="pubdate" jdbcType="TIMESTAMP"/>
		<result column="modifytime" property="modifytime" jdbcType="TIMESTAMP"/>
		<result column="recycleBin" property="recyclebin" jdbcType="VARCHAR"/>
		<result column="state" property="state" jdbcType="VARCHAR"/>
		<result column="clickNum" property="clicknum" jdbcType="BIGINT"/>
		<result column="attatchment_task_id" property="attatchmentTaskId" jdbcType="VARCHAR"/>
  </resultMap>
  
	<sql id="allColumns">
	  id,
	  knowledgeid,
	  user_id,
	  knowledgeType,
	  knowledgeAuthor,
	  knowledgeSource,
	  knowledgeDesc,
	  knowledgeTitle,
	  tag,columnid,
	  categoryid,essence,picture_task_id,visible,sortId,pubdate,modifytime,recycleBin,state,clickNum,attatchment_task_id
	</sql>

  <select id="selectByTitle" resultMap="knowledgeMap" parameterClass="java.util.Map">
   select <include refid="allColumns"/> from tb_knowledge 
   where knowledgeType=#knowledgetype:INT#
   and knowledgeTitle=#knowledgetitle:VARCHAR#
  </select>
  
</sqlMap>