<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="tb_knowledge">
	<typeAlias alias="knowledge" type="com.ginkgocap.ywxt.knowledge.model.Knowledge"/>
  <resultMap  class="com.ginkgocap.ywxt.knowledge.model.Knowledge" id="knowledgeMap">
 		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="oldknowledge_id" property="knowledgeid" jdbcType="BIGINT"/>
		<result column="user_id" property="userId" jdbcType="BIGINT"/>
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="create_user_id" property="create_user_id" jdbcType="BIGINT"/>
		<result column="create_username" property="create_username" jdbcType="VARCHAR"/>
		<result column="type" property="knowledgetype" jdbcType="VARCHAR"/>
		<result column="author" property="knowledgeauthor" jdbcType="VARCHAR"/>
		<result column="source" property="knowledgesource" jdbcType="VARCHAR"/>
		<result column="knowDesc" property="knowledgedesc" jdbcType="VARCHAR"/>
		<result column="title" property="knowledgetitle" jdbcType="VARCHAR"/>
		<result column="column_id" property="columnid" jdbcType="BIGINT"/>
		<result column="know_path" property="know_path" jdbcType="VARCHAR"/>
		<result column="essence" property="essence" jdbcType="VARCHAR"/>
		<result column="pic_path" property="pictureTaskId" jdbcType="VARCHAR"/>
		<result column="visible" property="visible" jdbcType="VARCHAR"/>
		<result column="pubdate" property="pubdate" jdbcType="TIMESTAMP"/>
		<result column="modifytime" property="modifytime" jdbcType="TIMESTAMP"/>
		<result column="status" property="status" jdbcType="VARCHAR"/>
		<result column="check_status" property="check_status" jdbcType="VARCHAR"/>
		<result column="report_status" property="report_status" jdbcType="VARCHAR"/>
		<result column="clickNum" property="clicknum" jdbcType="BIGINT"/>
		<result column="commentNum" property="commentNum" jdbcType="BIGINT"/>
		<result column="shareNum" property="shareNum" jdbcType="BIGINT"/>
		<result column="collectionNum" property="collectionNum" jdbcType="BIGINT"/>
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
		<result column="taskid" property="attatchmentTaskId" jdbcType="VARCHAR"/>
  </resultMap>
  
	<sql id="allColumns">
	  id,
	  oldknowledge_id,
	  user_id,username,create_user_id,create_username,type,author,source,knowDesc,title,column_id,
	  know_path,essence,pic_path,visible,pubdate,modifytime,status,check_status,report_status,clickNum,
	  commentNum,shareNum,collectionNum,createtime,taskid
	 
	</sql>

  <select id="selectByTitle" resultMap="knowledgeMap" parameterClass="java.util.Map">
   select <include refid="allColumns"/> from tb_knowledge 
   where type=#knowledgetype:INT#
   and title=#knowledgetitle:VARCHAR#
  </select>
  
   <delete id="deleteByPrimaryKey" parameterClass="java.lang.Long">
    delete from tb_knowledge
    where id = #id#
  </delete>
  <insert id="insert" parameterClass="com.ginkgocap.ywxt.knowledge.model.Knowledge">
    insert into tb_knowledge (id,
	  oldknowledge_id,
	  user_id,username,create_user_id,
	  create_username,type,author,source,knowDesc,title,column_id,
	  know_path,essence,pic_path,visible,pubdate,modifytime,status,
	  check_status,report_status,clickNum,
	  commentNum,shareNum,collectionNum,createtime,taskid
      )
    values (#id#, #knowledgeid#, #userId#, #username#,#create_user_id#,
    	#create_username#,
      #knowledgetype#, #knowledgeauthor#, #knowledgesource#, 
      #knowledgedesc#, #knowledgetitle#, 
      #columnid#,#know_path#, #essence#, 
      #pictureTaskId#, #visible#,
      #pubdate#, #modifytime#, #status#, #check_status#,#report_status#,
      #clicknum#,#commentNum#,#shareNum#,#collectionNum#,#createtime#,#attatchmentTaskId#
      )
      <selectKey resultClass="long" type="post" keyProperty="id" > 
		SELECT LAST_INSERT_ID() AS VALUE     
		</selectKey>
  </insert>
  
  <insert id="insertknowledge" parameterClass="com.ginkgocap.ywxt.knowledge.model.Knowledge">
     insert into tb_knowledge (
	  oldknowledge_id,
	  user_id,username,create_user_id,
	  create_username,type,author,source,knowDesc,title,column_id,
	  know_path,essence,pic_path,visible,pubdate,modifytime,status,
	  check_status,report_status,clickNum,
	  commentNum,shareNum,collectionNum,createtime,taskid
      )
    values (#knowledgeid#, #userId#, #username#,#create_user_id#,
    	#create_username#,
      #knowledgetype#, #knowledgeauthor#, #knowledgesource#, 
      #knowledgedesc#, #knowledgetitle#, 
      #columnid#,#know_path#, #essence#, 
      #pictureTaskId#, #visible#,
      #pubdate#, #modifytime#, #status#, #check_status#,#report_status#,
      #clicknum#,#commentNum#,#shareNum#,#collectionNum#,#createtime#,#attatchmentTaskId#
      )
      <selectKey resultClass="long" type="post" keyProperty="id" > 
		SELECT LAST_INSERT_ID() AS VALUE     
		</selectKey>
  </insert>
  
  <update id="updateByPrimaryKey" parameterClass="com.ginkgocap.ywxt.knowledge.model.Knowledge">
    update tb_knowledge
    set oldknowledge_id = #knowledgeid#,
      user_id = #userId#,
      username=#username#,
      create_user_id=#create_user_id#,
      create_username=#create_username#,
      type = #knowledgetype#,
      author = #knowledgeauthor#,
      source = #knowledgesource#,
      knowDesc = #knowledgedesc#,
      title = #knowledgetitle#,
      column_id = #columnid#,
      know_path=#know_path#,
      essence = #essence#,
      pic_path = #pictureTaskId#,
      visible = #visible#,
      pubdate = #pubdate#,
      modifyTime = #modifytime#,
      status = #status#,
      check_status=#check_status#,
     report_status =#report_status#,
      clickNum = #clicknum#,
      commentNum=#commentNum#,
      shareNum=#shareNum#,
      collectionNum=#collectionNum#,
      createtime=#createtime#,
      taskid = #attatchmentTaskId#
    where id = #id#
  </update>
  
  
</sqlMap>
