<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="knowledge">
	<typeAlias alias="knowledge" type="com.ginkgocap.ywxt.knowledge.model.Knowledge"/>


  <resultMap id="BaseResultMap" class="com.ginkgocap.ywxt.knowledge.model.Knowledge">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="knowledgeid" jdbcType="BIGINT" property="knowledgeid" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="knowledgeType" jdbcType="SMALLINT" property="knowledgetype" />
    <result column="knowledgeAuthor" jdbcType="VARCHAR" property="knowledgeauthor" />
    <result column="knowledgeSource" jdbcType="VARCHAR" property="knowledgesource" />
    <result column="knowledgeDesc" jdbcType="VARCHAR" property="knowledgedesc" />
    <result column="knowledgeTitle" jdbcType="VARCHAR" property="knowledgetitle" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="columnid" jdbcType="BIGINT" property="columnid" />
    <result column="categoryid" jdbcType="BIGINT" property="categoryid" />
    <result column="essence" jdbcType="VARCHAR" property="essence" />
    <result column="picture_task_id" jdbcType="VARCHAR" property="pictureTaskId" />
    <result column="visible" jdbcType="VARCHAR" property="visible" />
    <result column="sortId" jdbcType="VARCHAR" property="sortid" />
    <result column="pubdate" jdbcType="TIMESTAMP" property="pubdate" />
    <result column="modifyTime" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="recycleBin" jdbcType="VARCHAR" property="recyclebin" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="clickNum" jdbcType="BIGINT" property="clicknum" />
    <result column="attatchment_task_id" jdbcType="VARCHAR" property="attatchmentTaskId" />
  </resultMap>
  
  <sql id="base_Column_List">
    id, knowledgeid, user_id, knowledgeType, knowledgeAuthor, knowledgeSource, knowledgeDesc, 
    knowledgeTitle, tag, columnid, categoryid, essence, picture_task_id, visible, sortId, 
    pubdate, modifyTime, recycleBin, state, clickNum, attatchment_task_id
  </sql>
  <select id="selectByPrimaryKey" parameterClass="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="base_Column_List"/>
    from tb_knowledge
    where id = #id#
  </select>
  
   <delete id="deleteByPrimaryKey" parameterClass="java.lang.Long">
    delete from tb_knowledge
    where id = #id#
  </delete>
  <insert id="insert" parameterClass="com.ginkgocap.ywxt.knowledge.model.Knowledge">
    insert into tb_knowledge (id, knowledgeid, user_id, 
      knowledgeType, knowledgeAuthor, knowledgeSource, 
      knowledgeDesc, knowledgeTitle, tag, 
      columnid, categoryid, essence, 
      picture_task_id, visible, sortId, 
      pubdate, modifyTime, recycleBin, 
      state, clickNum, attatchment_task_id
      )
    values (#id#, #knowledgeid#, #userId#, 
      #knowledgetype#, #knowledgeauthor#, #knowledgesource#, 
      #knowledgedesc#, #knowledgetitle#, #tag#, 
      #columnid#, #categoryid#, #essence#, 
      #pictureTaskId#, #visible#, #sortid#, 
      #pubdate#, #modifytime#, #recyclebin#, 
      #state#, #clicknum#, #attatchmentTaskId#
      )
      <selectKey resultClass="long" type="post" keyProperty="id" > 
		SELECT LAST_INSERT_ID() AS VALUE     
		</selectKey>
  </insert>
  
  <update id="updateByPrimaryKey" parameterClass="com.ginkgocap.ywxt.knowledge.model.Knowledge">
    update tb_knowledge
    set knowledgeid = #knowledgeid#,
      user_id = #userId#,
      knowledgeType = #knowledgetype#,
      knowledgeAuthor = #knowledgeauthor#,
      knowledgeSource = #knowledgesource#,
      knowledgeDesc = #knowledgedesc#,
      knowledgeTitle = #knowledgetitle#,
      tag = #tag#,
      columnid = #columnid#,
      categoryid = #categoryid#,
      essence = #essence#,
      picture_task_id = #pictureTaskId#,
      visible = #visible#,
      sortId = #sortid#,
      pubdate = #pubdate#,
      modifyTime = #modifytime#,
      recycleBin = #recyclebin#,
      state = #state#,
      clickNum = #clicknum#,
      attatchment_task_id = #attatchmentTaskId#
    where id = #id#
  </update>
  
</sqlMap>