<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ginkgocap.ywxt.knowledge.mapper.ColumnKnowledgeValueMapper" >
 
 <delete id="deleteKnowledge">
  delete from tb_column_knowledge
     where  column_id=#{columnid} 
     and  knowledge_id in 
     <foreach item="knowledgeids" collection="knowledgeids" open="(" separator="," close=")">
     #{knowledgeids}
 	</foreach>
 </delete>
  <select id="selectKnowledgeIds" resultType="long" >
	SELECT
	ck.knowledge_id
	FROM tb_column_knowledge ck,
	tb_column c
	WHERE 1 = 1
	AND c.del_status=0
	<if test="userId != null">
	AND ck.user_id = #{userId}
	</if>
	<if test="userId == null">
	AND (ck.user_id = #{userId} or ck.user_id=#{gtnid})
	</if>
	AND c.column_level_path LIKE CONCAT(#{sortId}, '%')
	AND EXISTS(SELECT
	1
	FROM tb_column_visible v
	WHERE v.state = 0
	AND v.column_id = c.id)
</select>

	<select id="selectColumnIdTreeById" resultType="map">
	 		SELECT t.id FROM tb_column t WHERE
	 		 t.column_level_path LIKE 
			CONCAT((SELECT column_level_path FROM tb_column WHERE id = #{columnid}), '%')
	</select>
	
	<select id="selectMobileColumns" resultType="map">
	 		SELECT * FROM tb_column t WHERE 
	 		LENGTH(t.column_level_path) &lt;= #{length} 
	 		AND t.user_id = #{userId}
	 		OR  t.user_id = 0 
	 		AND t.del_status = 0 
	 		ORDER BY t.column_level_path
	</select>

</mapper>