<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ginkgocap.ywxt.knowledge.mapper.ColumnVOValueMapper">
	<select id="selectColumnByPid" resultType="com.ginkgocap.ywxt.knowledge.model.ColumnVO" >
		SELECT 
		a.id,
		a.columnName,
		a.parent_id,
		a.user_id,
		a.column_level_path,
		a.path_name,
		a.createtime,
		a.update_time,
		a.del_status,
		a.subscribe_count,
		a.type,
		b.ishas 
		FROM tb_column a 
		LEFT JOIN (SELECT DISTINCT parent_id , 1  'ishas' FROM tb_column) b 
		ON a.id = b.parent_id
		where a.del_status=0
		and (a.user_id=#{userId} or a.user_id=0)
		and a.parent_id=#{pid}
	</select>
	
</mapper>