<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ginkgocap.ywxt.knowledge.mapper.KnowledgeCollectionValueMapper" >

<insert id="batchInsert">
  insert into tb_knowledge_collection ( <include refid="Base_Column_List" /> ) 
  values 
    <foreach collection="list" item="item" index="index" separator=",">
        (#{item.knowledgeId},
		  #{item.source},
		  #{item.categoryId},
		  #{item.collectionTags},
		  #{item.collectionComment},
		  #{item.userid})
    </foreach>
</insert>
<sql id="Base_Column_List">
 knowledge_id,
  source,
  category_id,
  collection_tags,
  collection_comment,
  userid
</sql>
 <delete id="deleteKnowledge">
  delete from tb_knowledge_collection 
     where  category_id=#{categoryid} 
     and  knowledge_id in 
     <foreach item="knowledgeids" collection="knowledgeids" open="(" separator="," close=")">
     #{knowledgeids}
 	</foreach>
 </delete>
 
 <select id="selectKnowledgeCollection" resultType="map">
 	select knowledge_id from tb_knowledge_collection
	where 1=1
	<if test="column_id!=null and column_id>0 ">
	and column_id=#{column_id}
	</if>
	<if test="knowledgeType!=null">
	and knowledgeType=#{knowledgeType}
	</if>
	<if test="category_id!=null and category_id>0">
	and category_id=#{category_id}
	</if>
	limit #{pageno},#{pagesize}
 </select>
 
 <!-- 分页查询收藏夹下的知识 -->
 <select id="selectKnowledgeAll" resultType="map">
 	SELECT b.*,c.collection_comment,b.tag collection_tags,1 source  FROM tb_knowledge_collection c,tb_knowledge_base b
	WHERE 1=1
	AND c.userId=#{collectionUserId}
	AND c.knowledge_id=b.knowledge_id
	<if test="knowledgeType!=null and knowledgeType != ''">
	AND b.column_type=#{knowledgeType}
	</if>
	<if test="source!=null  and source != ''">
	AND c.source=#{source}
	</if>
	<if test="keyword !=null and keyword != '' ">
		AND b.title like CONCAT('%',#{keyword},'%')
	</if>
	ORDER BY c.createtime DESC
	LIMIT #{pageno},#{pagesize}
	
 </select>
 
 <!-- 统计收藏夹下的知识 -->
 <select id="countKnowledgeAll" resultType="long">
 	SELECT count(1) FROM tb_knowledge_collection c,tb_knowledge_base b 
	WHERE 1=1
	AND c.userId=#{collectionUserId}
	AND c.knowledge_id=b.knowledge_id
	<if test="knowledgeType!=null and knowledgeType != ''">
	AND b.column_type=#{knowledgeType}
	</if>
	<if test="source!=null  and source != ''">
	AND c.source=#{source}
	</if>
	<if test="keyword !=null and keyword != '' ">
		AND b.title like CONCAT('%',#{keyword},'%')
	</if>
 </select>
 
 	<select id="selectKnowledgeId" resultType="map">
 	select knowledge_id from tb_knowledge_collection
	where 1=1
	AND userId=#{collectionUserId}
 </select>
 
</mapper>