<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ginkgocap.ywxt.knowledge.mapper.KnowledgeCollectionValueMapper" >
 
 <delete id="deleteKnowledge">
  delete from tb_knowledge_collection 
     where  category_id=#{categoryid} 
     and  knowledge_id in 
     <foreach item="knowledgeids" collection="knowledgeids" open="(" separator="," close=")">
     #{knowledgeids}
 	</foreach>
 </delete>
 
 <select id="selectKnowledgeCollection" resultType="map">
 	select knowledge_id from tb_knowledge_collection
	where 1=1
	<if test="column_id!=null and column_id>0 ">
	and column_id=#{column_id}
	</if>
	<if test="knowledgeType!=null">
	and knowledgeType=#{knowledgeType}
	</if>
	<if test="category_id!=null and category_id>0">
	and category_id=#{category_id}
	</if>
	limit #{pageno},#{pagesize}
 </select>
</mapper>