<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ginkgocap.ywxt.knowledge.mapper.KnowledgeCategoryValueMapper" >
 
 
 <insert id="batchInsert" parameterType="java.util.List">
 
 insert into tb_knowledge_category (
			knowledge_id,
			category_id,
			sortid,
			user_id,
			title,
			author,
			path,share_author,createtime,tag,c_desc,column_id,pic_path
			
		) values 
		 	<foreach collection="list" item="item" index="index" separator="," >  
        (#{item.knowledgeId},
				 #{item.categoryId},
				 #{item.sortid},
				 #{item.userId}, #{item.title}, #{item.author}, #{item.path}, #{item.shareAuthor},
				 #{item.createtime},#{item.tag},#{item.cDesc},#{item.columnId},#{item.picPath})  
    </foreach>  
 </insert>
 <select id="selectKnowledgeIds" resultType="com.ginkgocap.ywxt.knowledge.entity.KnowledgeCategory" >
		SELECT distinct kc.*
		FROM tb_knowledge_category kc,
		tb_user_category uc
		WHERE kc.category_id = uc.id
		AND uc.type = #{type}
		AND kc.user_id=#{userId}
		AND kc.status=1 
		<if test="tid !=null and tid!=''">
		AND kc.source==#{tid}
		</if>
		<if test="lid !=null and lid!=''">
		AND kc.column_type=#{lid} 
		</if>
		and  uc.sortid like CONCAT(#{sortId}, '%')
</select>
 <select id="countKnowledgeIds" resultType="int" >
 		select count(1) from (
		SELECT distinct kc.*
		FROM tb_knowledge_category kc,
		tb_user_category uc
		WHERE kc.category_id = uc.id
		AND uc.type = #{type}
		AND kc.user_id=#{userId}
		<if test="tid !=null and tid!=''">
		AND kc.source==#{tid}
		</if>
		<if test="lid !=null and lid!=''">
		AND kc.column_type=#{lid} 
		</if>
		AND kc.status=1 
		and  uc.sortid like CONCAT(#{sortId}, '%'))j
</select>

 <delete id="deleteKnowledge">
  delete from tb_knowledge_category 
     where  category_id=#{categoryid} 
     and  knowledge_id in 
     <foreach item="knowledgeids" collection="knowledgeids" open="(" separator="," close=")">
     #{knowledgeids}
 	</foreach>
 </delete>
</mapper>