<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ginkgocap.ywxt.knowledge.mapper.KnowledgeTagValueMapper" >
  
		<insert id="batchInsert">
		insert into tb_knowledge_tag (
		knowledgeId,
		tagid
		) values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{knowledgeid},
			#{item}
			)
		</foreach>
	</insert>
	
		<delete id="deleteTAG">
		DELETE
		FROM tb_knowledge_tag
		WHERE  tagid =#{tagid}
		  and knowledgeId = #{knowledgeid} 
	</delete>
</mapper>
