<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.ginkgocap.ywxt.knowledge.mapper.MobileKnowledgeMapper">

	<select id="selectKnowledgeByTagsAndKeyWords" resultType="map">
		SELECT DISTINCT b.*,
		CASE
		WHEN b.user_id=#{userId} THEN 'me'
		ELSE 'other'
		END source
		FROM tb_knowledge_base b WHERE 1=1 
		<if test="tag !=null and tag != '' ">
			AND b.tag like CONCAT('%',#{tag},'%')
		</if>
		<if test="keyword !=null and keyword != '' ">
			AND b.title like CONCAT('%',#{keyword},'%')
		</if>
		LIMIT #{start},#{size}
	</select>

	<select id="selectCountKnowledgeByTagsAndKeyWords" resultType="int">
		SELECT count(*)
		FROM tb_knowledge_base b 
		WHERE b.user_id=#{userId} 
		<if test="tag !=null and tag != '' ">
			AND b.tag like CONCAT('%',#{tag},'%')
		</if>
		<if test="keyword !=null and keyword != '' ">
			AND b.title like CONCAT('%',#{keyword},'%')
		</if>
	</select>
	
	<select id="selectKnowledgeByMyCollectionAndKeyWords" resultType="map">
		SELECT DISTINCT b.*,
		CASE
	        WHEN b.user_id=#{userId} THEN 'me'
	        ELSE 'other'
		END source
		FROM tb_knowledge_collection kc,
		tb_knowledge_base b
		WHERE kc.knowledge_id = b.knowledge_id
		AND b.user_id = kc.userId
		AND b.user_id=#{userId}
		AND b.title like CONCAT('%',#{keyword},'%')
		LIMIT #{start},#{size}
	</select>
	
	<select id="selectCountKnowledgeByMyCollectionAndKeyWords" resultType="int">
		SELECT count(*)
		FROM tb_knowledge_base b ,tb_knowledge_collection kc
		WHERE 
		kc.knowledge_id = b.knowledge_id
		AND b.user_id = kc.userId
		AND b.user_id=#{userId} 
		AND b.title like CONCAT('%',#{keyword},'%')
	</select>
	
	<select id="selectKnowledgeBySourceAndColumn" resultType="map">
		SELECT DISTINCT b.*
		FROM tb_knowledge_base b
		WHERE b.column_id = #{columnId}
		<if test="userId != -2">
		AND b.user_id = #{userId}
		</if>
		LIMIT #{start},#{size}
	</select>
	
	<select id="selectCountKnowledgeBySourceAndColumn" resultType="int">
		SELECT count(*)
		FROM tb_knowledge_base b
		WHERE b.column_id = #{columnId}
		<if test="userId != -2">
		AND b.user_id = #{userId}
		</if>
	</select>
	
	<select id="selectMyFriendKnowledgeByKeyWords" resultType="map">
		SELECT DISTINCT b.*
		FROM tb_knowledge_base b
		WHERE b.column_id = #{columnId}
		AND b.user_id in 
		 <foreach item="friends" collection="friends" open="(" separator="," close=")">
   		#{friends}
    	</foreach>
		LIMIT #{start},#{size}
	</select>
	
	<select id="selectCountForMyFriendKnowledgeByKeyWords" resultType="int">
		SELECT count(*)
		FROM tb_knowledge_base b
		WHERE b.column_id = #{columnId}
		AND b.user_id in 
		 <foreach item="friends" collection="friends" open="(" separator="," close=")">
   		#{friends}
    	</foreach>
	</select>
	
	<select id="selectKnowledgeByUserId" resultType="map">
		SELECT DISTINCT b.*
		FROM tb_knowledge_base b
		WHERE b.user_id = #{userId}
		<if test="keyword !=null and keyword != '' ">
			AND b.title like CONCAT('%',#{keyword},'%')
		</if>
		LIMIT #{start},#{size}
	</select>
	
	<select id="selectCountForKnowledgeByUserId" resultType="int">
		SELECT DISTINCT b.*
		FROM tb_knowledge_base b
		WHERE b.user_id = #{userId}
		<if test="keyword !=null and keyword != '' ">
			AND b.title like CONCAT('%',#{keyword},'%')
		</if>
	</select>
</mapper>