<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ginkgocap.ywxt.knowledge.mapper.UserPermissionValueMapper" >
 
 <insert id="batchInsert" parameterType="java.util.List">
    
    insert into tb_user_permission (
			receive_user_id,
			knowledge_id,
			send_user_id,
			type,
			mento,
			createtime,
			column_id
			
		) values 
		 	<foreach collection="list" item="item" index="index" separator="," >  
        (#{item.receiveUserId},
				 #{item.knowledgeId},
				 #{item.sendUserId},
				 #{item.type}, #{item.mento}, #{item.createtime}, #{item.columnId})
    </foreach>  
 </insert>
</mapper>