<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ginkgocap.ywxt.knowledge.mapper.UserCategoryValueMapper" >
<!-- 	<select id="selectChildBySortId"  resultMap="BaseResultMap" > -->
<!-- 		select * from tb_user_category where userid = #{userId}  -->
<!-- 		<if test="sortId != null and sortId != ''"> -->
<!-- 		and sortId like CONCAT(#{sortId}, '%')  -->
<!-- 		</if> -->
<!-- 		order by sortId -->
<!-- 	</select>	 -->
	
<!-- 	<select id="selectMaxSortId" resultType="string" > -->
<!-- 		select max(sortid) from tb_user_category where userid=#{userId} and sortId like CONCAT(#{parentSortId}, '%')  -->
<!-- 	</select> -->
	
<!-- 	<select id="selectChildCountById" resultType="long" parameterClass="long"> -->
<!-- 		select count(id) from tb_user_category where parentId = #{value} -->
<!-- 	</select> -->
	
</mapper>