<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ginkgocap.ywxt.knowledge.mapper.UserPermissionValueMapper" >
 

 <insert id="batchInsert" parameterType="java.util.List">
    insert into tb_user_permission (
			receive_user_id,
			knowledge_id,
			send_user_id,
			type,
			mento,
			createtime,
			column_id
			
		) values 
		 	<foreach collection="list" item="item" index="index" separator="," >  
        (#{item.receiveUserId},
				 #{item.knowledgeId},
				 #{item.sendUserId},
				 #{item.type}, #{item.mento}, #{item.createtime}, #{item.columnId})
    </foreach>  
 </insert>

  <select id="selectByParams" resultType="long" >
		select knowledge_id from tb_user_permission
		where 1=1
		<if test="receive_user_id != null">		
			and receive_user_id=#{receive_user_id} 
		</if>
		<if test="type != null">		
			and type=#{type} 
		</if>
		<if test="column_id != null">		
			and column_id=#{column_id} 
		</if>
	</select>

	

  <select id="selectByParamsSingle" resultType="long" >
		select knowledge_id from tb_user_permission
		where (1=1 
		<if test="receive_user_id != null">
			and ((receive_user_id=#{receive_user_id} or send_user_id=#{receive_user_id})and type=3) 
		</if>
			or type=4 
			)
		<if test="column_id !=null">
			and column_id=#{column_id} 
		</if>
	</select>


 <delete id="delete">
 	 delete from tb_user_permission 
     where  send_user_id=#{userid} 
     and  knowledge_id in 
    <foreach item="knowledgeids" collection="knowledgeids" open="(" separator="," close=")">
   #{knowledgeids}
    </foreach>
 </delete>
 
 <select id="selectByreceive_user_id" resultType="map">
 	select knowledge_id from tb_user_permission
 	where 1=1 
 	<if test="receive_user_id!=null and receive_user_id>0 ">
	and receive_user_id=#{receive_user_id}
	</if>
	<if test="send_userid!=null and send_userid>0 ">
	and send_user_id=#{send_userid}
	</if>
 </select>
 <!-- 
  <select id="selectByParams" resultType="map">
 	select knowledge_id from tb_user_permission
	where 1=1
	<if test="receive_user_id!=null and receive_user_id>0 ">
	and receive_user_id=#{receive_user_id}
	</if>
	<if test="column_id!=null and column_id>0">
	and column_id=#{column_id}
	</if>
	<if test="type!=null and type>0">
	and type=#{type}
	</if>
 </select>
  -->
</mapper>
